
<button class="btn btn-primary" (click)="open(userCreateModal)">Update User</button>

<!-- UserCreateModal template -->
<ng-template #userCreateModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-user-update">User Update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-user-form [user]="selectedUser" (onFormSubmit)="onFormSubmit($event)"></app-user-form>
  </div>
</ng-template>


