
<button class="btn btn-secondary" (click)="open(userCreateModal)">User Details</button>

<!-- UserCreateModal template -->
<ng-template #userCreateModal let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-user-details">User Create</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-user-form [user]="user"></app-user-form>
  </div>
</ng-template>



