<div class="container">
      <label for="exampleInputEmail1" >Firstname</label>
      <input type="text" class="form-control" placeholder="Enter Firstname" value= {{user.firstname}}>

      <label for="exampleInputEmail1">Lastname</label>
      <input type="text" class="form-control" value= {{user.lastname}}>


      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" value= {{user.username}}>

      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" value= {{user.email}}>
</div>
