  <form class="form-signin" [formGroup]="signInForm" (ngSubmit)="onSubmit()">

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label class="sr-only">Email address</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Email adress" [ngClass]="{ 'is-invalid': isSubmitted && controls.email.errors }" autofocus="">
    <div *ngIf="(isSubmitted && controls.email.errors)" class="invalid-feedback">
        <div *ngIf="controls.email.errors.required">This Field is required , Please enter your email</div>
        <div *ngIf="controls.email.errors.email">Please enter a valid Email adress</div>
      </div>

    <label class="sr-only">Password</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': isSubmitted && controls.password.errors }" autofocus="">
    <div *ngIf="(isSubmitted && controls.password.errors)" class="invalid-feedback">
        <div *ngIf="controls.password.errors.required">This Field is required , Please enter Password</div>
        <div *ngIf="controls.password.errors.pattern">The Password must has at least a number, lower case, upper case n special character and 8 charatcters in Length</div>
      </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>



  </form>

